.card-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: white;
    color: black;
    border: 1px solid black;
    transition: transform 0.5s;
}

.back {
    transform: rotateY(180deg);
}

#nextBtn {
    font-size: 24px;
    padding: 10px 20px;
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }
    .card {
        width: 90%;
        height: 250px;
    }
    #nextBtn, #correctBtn, #wrongBtn, #uploadBtn {
        font-size: 28px;
        padding: 15px 25px;
    }
}
