body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 20px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

#feedback {
    margin-top: 10px;
    display: none;
}
#nextBtn {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
        height: 250px;
    }
    #nextBtn, #checkBtn, #correctBtn, #wrongBtn {
        font-size: 28px;
        padding: 15px 25px;
    }
}
